@using System.Threading.Tasks
@using Web.User.Models
@model KeySinglePermutationModel

@{
    ViewBag.Title = "Key Single Permutation";
    Layout = "_Layout";
}

<h2>Key Single Permutation</h2>

@Html.Partial("_InputFormPartial", Model.Input)

@using (Html.BeginForm("DecryptKeySinglePermutation", "Protection", FormMethod.Post, new { @class = "form-horizontal" }))
{
<fieldset>

    <!-- Form Name -->
    <legend>Input</legend>

    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label">Row Count</label>
        <div class="col-md-4">
            @Html.TextBoxFor(x => x.Output.Key.RowCount, htmlAttributes: new { @class = "form-control input-md" })
        </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
        <label class="col-md-4 control-label">Key Word</label>
        <div class="col-md-4">
            @Html.TextBoxFor(x => x.Output.Key.KeyWord, htmlAttributes: new { @class = "form-control input-md" })
        </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
        <label class="col-md-4 control-label">Value</label>
        <div class="col-md-4">
            @Html.TextAreaFor(x => x.Output.Value, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Decrypt</button>
        </div>
    </div>

</fieldset>
}
